@font-face {
  font-family: "Julia-Black";
  src: url("/fonts/JuliaMono-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Julia-Bold";
  src: url("/fonts/JuliaMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Julia-Bold-Latin";
  src: url("/fonts/JuliaMono-BoldLatin.ttf") format("truetype");
}
@font-face {
  font-family: "Julia-Extra-Bold";
  src: url("/fonts/JuliaMono-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Julia-Light";
  src: url("/fonts/JuliaMono-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Julia-Medium";
  src: url("/fonts/JuliaMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Julia-Regular";
  src: url("/fonts/JuliaMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Julia-Regular-Latin";
  src: url("/fonts/JuliaMono-RegularLatin.ttf") format("truetype");
}

:root {
  --first-color: #e8e6d8;
  --second-color: #fcf4a6;
  --third-color: #aac7ec;
  --fourth-color: #000000db;
  --fith-color: #e4dede;
  --sixth-color: #e4dede;
  --seventh-color: #07000054;
  --eigth-color: #dba0a7;
  --first-shawdow: 6px 6px 12px #00000029, -6px -6px 12px #ffffff2a;
  --second-shawdow: 6px 6px 12px #00000029, -6px -6px 12px #ffffff2a;
  --first-font: "Julia-Black";
  --second-font: "Julia-Bold";
  --third-font: "Julia-Bold-Latin";
  --fourth-font: "Julia-Extra-Bold";
  --fith-font: "Julia-Light";
  --sixth-font: "Julia-Medium";
  --seventh-font: "Julia-Regular";
  --eigth-font: "Julia-Regular-Latin";
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-align: center;
  font-family: var(--seventh-font), monospace;
  font-size: 30px;
  font-weight: normal;
  color: var(--fourth-color);
}

body {
  background-color: var(--first-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 10vw;
  width: 60vw;
  margin: 0 auto;
}

/* title layout */
h1 {
  line-height: 30px;
  font-size: 50px;
  /* margin: -20px 0px; */
  margin-top: 30px;
  font-family: var(--fourth-font), monospace;
}
.jot-icon {
  width: auto;
  height: 10vh;
}

/* form layout */
#jot-down {
  display: none;
  background-size: cover;
  position: relative;
  padding: 15px;
  width: 500px;
  height: 410px;
  text-align: center;
  background-color: var(--third-color);
  box-shadow: var(--first-shawdow);
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
}
h4 {
  line-height: 30px;
  font-size: 25px;
  text-align: justify;
  margin: 10px 0px;
  margin-left: 40px;
  margin-top: 30px;
  font-family: var(--second-font), monospace;
}
.prompt-input,
.description-input {
  padding: 10px;
  align-items: center;
  text-align: initial;
  font-size: 15px;
  border: 1px solid var(--seventh-color);
  outline: none;
  width: 400px;
  background: transparent;
  border-radius: 5px;
}
.description-input {
  width: 400px;
  height: 100px;
  resize: none;
}

.prompt-input:focus,
.description-input:focus {
  box-shadow: 0 0 3px var(--seventh-color);
}

/* jots */
.jot-card {
  width: 450px;
  height: 450px;
  perspective: 450px;
  text-align: center;
  border-radius: 5px;
  margin-top: -200px;
}
.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 2s;
}
.card-content.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Front of card */
.card-front {
  padding: 20px 5px;
  background: var(--second-color);
}
.prompt-content {
  padding: 10px;
  align-items: center;
  outline: none;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: var(--fourth-color);
}

/* Back of card */
.card-back {
  transform: rotateY(180deg);
  display: none;
  padding: 20px 5px;
  background: var(--first-color);
  box-shadow: var(--first-shadow);
}
.card-back.display {
  display: block;
}
.description-content {
  padding: 10px;
  align-items: center;
  outline: none;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: var(--fourth-color);
}

/* App buttons */
button {
  margin: 5px;
  padding: 10px;
  width: 200px;
  outline: 0;
  align-items: center;
  border: 2px solid var(--seventh-color);
  color: var(--seventh-color);
  background: transparent;
  cursor: pointer;
  font-size: 35px;
  border-radius: 5px;
}
.submit-form-button {
  margin: 20px 0px;
}
.flip-button {
  color: var(--second-color);
  border-radius: 10px 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.delete-button {
  color: var(--second-color);
  border-radius: 10px 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.open-form-button:hover,
.open-form-button:active {
  border: 2px solid var(--third-color);
  color: var(--fourth-color);
  font-weight: bolder;
}
.submit-form-button:hover,
.submit-form-button:active {
  border: 2px solid var(--second-color);
  color: var(--fourth-color);
  font-weight: bolder;
}
.flip-button:hover,
.flip-button:active {
  border: 2px solid var(--third-color);
  color: var(--fourth-color);
  font-weight: bolder;
}
.delete-button:hover,
.delete-button:active {
  border: 2px solid var(--third-color);
  color: var(--fourth-color);
  font-weight: bolder;
}
